.home-box {
    padding:0px;
    overflow:hidden;
    .post-link {
        color: inherit;
        display:block;
        padding: 25px;
        transition: .2s background-color;
        &:not(:last-child) {
            border-bottom:1px solid $theme-color;
        }
        &:hover {
            text-decoration: none;
            background-color: $header-color;
        }
        h3 {
            margin:0;
        }
    }
}