---
layout: default
---
<!--<h1 style="text-align:center;padding-top:15px">Welcome to Lifesine Music</h1>
-->


<div class="home">

  <div style="display:flex;justify-content:center;padding:10px">
    <div class="announce-border">
      <div class="announce">
        {{ content }}
      </div>
    </div>
  </div>

  <div style="display;flex:justify-content:center" >
    <h3 style="text-align:center;color:#9AF777;padding-top:15px;font-size:22px;line-height: .9">Latest Posts</h3>
    <div style="text-align:center">
      <img style="padding-top:7px;border-top:1px solid #9AF777" width="140px" src="/assets/misc/bars_200x71.png">
    </div>  
  </div>



  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
<!--      <h1 class="post-list-heading">{{ page.list_title }}</h1> -->
    {%- endif -%}
    <div class="box home-box">
      <div class="post-list">
        {%- for post in posts limit:8 -%}

          <a class="post-link" style="text-align:center" href="{{ post.url | relative_url }}">
            <h1 style="font-size:22px">{{ post.title | escape }}</h1>
          {%- if post.image -%}
            <div style="text-align:center">
              <img src=" {{ post.image }}" width="200px" >
            </div>
          {%- endif -%}
          </a>

        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}

  <div>
    <a style="text-align:center" href="{{ site.baseurl }}{% link _posts/2000-01-01-legacy.md %}">
      <h2 style="font-size:18px">Looking for more content?</h2>
  </div>

</div>
