---
layout: default
---
<!--<h1 style="text-align:center;padding-top:15px">Welcome to Lifesine Music</h1>
-->
<h3 style="text-align:center;color:#9AF777;padding-top:15px">Latest Posts</h3>
<div class="home">

  {{ content }}

  {% assign posts = site.posts %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="box home-box">
      <div class="post-list">
        {%- for post in posts -%}

          <a class="post-link" style="text-align:center" href="{{ post.url | relative_url }}">
            <h2>{{ post.title | escape }}</h2>
          {%- if post.image -%}
            <div style="text-align:center">
              <img src=" {{ post.image }}" width="200px" >
            </div>
          {%- endif -%}
          </a>

        {%- endfor -%}
      </div>
    </div>

  {%- endif -%}

</div>
